@model IEnumerable<System.Security.Claims.Claim>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<h2 class="bg-primary m-1 p-1 text-white">Notificaciones</h2>
<a asp-action="Create" class="btn btn-secondary">Crear Reclamo/Claim</a>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>Asunto</th>
            <th>Emisor</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model.OrderBy(x => x.Type))
        {
            <tr>
                <td>@claim.Subject.Name</td>
                <td>@claim.Issuer</td>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="claimValues" value="@claim.Type;@claim.Value;@claim.Issuer" />
                        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>